:root{
    --black: #000000;
    --dark: #575C56;
    --red: #997260;
    --orange: #D9B37E;
    --tan: #F5EBB0;
    --cool: #C4C3BC;
    --light: #f5f4eb;
}
html{
    background-color: var(--light);
    color: var(--black);
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
